.vs
src/ContainerManagement.Infrastructure/bin
src/ContainerManagement.Infrastructure/obj
src/ContainerManagement.Web/bin
src/ContainerManagement.Web/obj
src/ContainerManagement.Application/bin
src/ContainerManagement.Application/obj
src/ContainerManagement.Domain/bin
src/ContainerManagement.Domain/obj
.vscode
/src/ContainerManagement.Integration/obj
